/*Colors & Font Stacks to change per brand*/
/*Fonts*/
/* Base styles */
/* line 3, /Users/janamills/Documents/GitHub/ActionNetwork/foundation/_embed.scss */
html.can_embed-html body#can_fundraising_widget {
  color: #02042f;
  margin: 0;
  font-family: neue-haas-unica, sans-serif; }
  /* line 10, /Users/janamills/Documents/GitHub/ActionNetwork/foundation/_embed.scss */
  html.can_embed-html body#can_fundraising_widget #can_embed_form h2.line, html.can_embed-html body#can_fundraising_widget #can_embed_form #donation_recipient_wrap, html.can_embed-html body#can_fundraising_widget #can_embed_form #action_info {
    display: none; }
  /* line 13, /Users/janamills/Documents/GitHub/ActionNetwork/foundation/_embed.scss */
  html.can_embed-html body#can_fundraising_widget #can_embed_form #form_col1, html.can_embed-html body#can_fundraising_widget #can_embed_form #form_col2 {
    float: none;
    width: 100%;
    clear: both; }
  /* line 18, /Users/janamills/Documents/GitHub/ActionNetwork/foundation/_embed.scss */
  html.can_embed-html body#can_fundraising_widget #can_embed_form .check_radio_field.donate_amount_wrap label {
    width: 30%;
    font-size: 1.5em;
    height: auto;
    margin: 0 2.5% 20px 0;
    padding: 0.25em 0.5em;
    border: 1px #ff4b3e solid;
    /*Mobile*/ }
    /* line 25, /Users/janamills/Documents/GitHub/ActionNetwork/foundation/_embed.scss */
    html.can_embed-html body#can_fundraising_widget #can_embed_form .check_radio_field.donate_amount_wrap label:hover, html.can_embed-html body#can_fundraising_widget #can_embed_form .check_radio_field.donate_amount_wrap label.donate_amount-selected {
      background: #f6f930;
      color: #000114;
      border-color: #000114; }
    @media (max-width: 1200px) {
      /* line 32, /Users/janamills/Documents/GitHub/ActionNetwork/foundation/_embed.scss */
      html.can_embed-html body#can_fundraising_widget #can_embed_form .check_radio_field.donate_amount_wrap label {
        width: 100%;
        margin-right: 0; } }
  /* line 38, /Users/janamills/Documents/GitHub/ActionNetwork/foundation/_embed.scss */
  html.can_embed-html body#can_fundraising_widget #can_embed_form .donate_recurring {
    background: transparent; }
  /* line 41, /Users/janamills/Documents/GitHub/ActionNetwork/foundation/_embed.scss */
  html.can_embed-html body#can_fundraising_widget #can_embed_form #donate_login, html.can_embed-html body#can_fundraising_widget #can_embed_form #donation_welcome {
    background: #000114;
    color: #f9f9f9;
    font-size: 0.9em;
    margin-top: auto; }
    /* line 46, /Users/janamills/Documents/GitHub/ActionNetwork/foundation/_embed.scss */
    html.can_embed-html body#can_fundraising_widget #can_embed_form #donate_login a, html.can_embed-html body#can_fundraising_widget #can_embed_form #donation_welcome a {
      color: #f6f930; }
  /* line 48, /Users/janamills/Documents/GitHub/ActionNetwork/foundation/_embed.scss */
  html.can_embed-html body#can_fundraising_widget #can_embed_form .floatlabel-wrapper .floatlabel-label {
    color: #02042f; }
  /* line 51, /Users/janamills/Documents/GitHub/ActionNetwork/foundation/_embed.scss */
  html.can_embed-html body#can_fundraising_widget #can_embed_form input[type=text], html.can_embed-html body#can_fundraising_widget #can_embed_form input[type=password], html.can_embed-html body#can_fundraising_widget #can_embed_form input[type=url], html.can_embed-html body#can_fundraising_widget #can_embed_form input[type=email], html.can_embed-html body#can_fundraising_widget #can_embed_form input[type=tel], html.can_embed-html body#can_fundraising_widget #can_embed_form input[type=number], html.can_embed-html body#can_fundraising_widget #can_embed_form span.can_select {
    color: #02042f;
    border-color: #000114; }
    /* line 54, /Users/janamills/Documents/GitHub/ActionNetwork/foundation/_embed.scss */
    html.can_embed-html body#can_fundraising_widget #can_embed_form input[type=text]::placeholder, html.can_embed-html body#can_fundraising_widget #can_embed_form input[type=password]::placeholder, html.can_embed-html body#can_fundraising_widget #can_embed_form input[type=url]::placeholder, html.can_embed-html body#can_fundraising_widget #can_embed_form input[type=email]::placeholder, html.can_embed-html body#can_fundraising_widget #can_embed_form input[type=tel]::placeholder, html.can_embed-html body#can_fundraising_widget #can_embed_form input[type=number]::placeholder, html.can_embed-html body#can_fundraising_widget #can_embed_form span.can_select::placeholder {
      color: #02042f; }
    /* line 57, /Users/janamills/Documents/GitHub/ActionNetwork/foundation/_embed.scss */
    html.can_embed-html body#can_fundraising_widget #can_embed_form input[type=text]:focus, html.can_embed-html body#can_fundraising_widget #can_embed_form input[type=password]:focus, html.can_embed-html body#can_fundraising_widget #can_embed_form input[type=url]:focus, html.can_embed-html body#can_fundraising_widget #can_embed_form input[type=email]:focus, html.can_embed-html body#can_fundraising_widget #can_embed_form input[type=tel]:focus, html.can_embed-html body#can_fundraising_widget #can_embed_form input[type=number]:focus, html.can_embed-html body#can_fundraising_widget #can_embed_form span.can_select:focus {
      border-color: #ff4b3e; }
  /* line 61, /Users/janamills/Documents/GitHub/ActionNetwork/foundation/_embed.scss */
  html.can_embed-html body#can_fundraising_widget #can_embed_form .donate_cc_exp {
    width: 48.75%; }
    /* line 63, /Users/janamills/Documents/GitHub/ActionNetwork/foundation/_embed.scss */
    html.can_embed-html body#can_fundraising_widget #can_embed_form .donate_cc_exp.donate_cc_month {
      margin-right: 2.5%; }
  /* line 67, /Users/janamills/Documents/GitHub/ActionNetwork/foundation/_embed.scss */
  html.can_embed-html body#can_fundraising_widget #can_embed_form .can_button, html.can_embed-html body#can_fundraising_widget #can_embed_form #donate_auto_modal input[type=submit], html.can_embed-html body#can_fundraising_widget #can_embed_form #donate_auto_modal .button, html.can_embed-html body#can_fundraising_widget #can_embed_form #donate_make_recurring_modal input[type=submit], html.can_embed-html body#can_fundraising_widget #can_embed_form #donate_make_recurring_modal .button, html.can_embed-html body#can_fundraising_widget #can_embed_form input[type=submit], html.can_embed-html body#can_fundraising_widget #can_embed_form .button {
    border: 3px #ff4b3e solid;
    font-size: 1.5em;
    background: #f9f9f9;
    color: #ff4b3e;
    font-weight: bold;
    padding: 0.5em;
    -webkit-appearance: none; }
    /* line 75, /Users/janamills/Documents/GitHub/ActionNetwork/foundation/_embed.scss */
    html.can_embed-html body#can_fundraising_widget #can_embed_form .can_button:hover, html.can_embed-html body#can_fundraising_widget #can_embed_form #donate_auto_modal input[type=submit]:hover, html.can_embed-html body#can_fundraising_widget #can_embed_form #donate_auto_modal .button:hover, html.can_embed-html body#can_fundraising_widget #can_embed_form #donate_make_recurring_modal input[type=submit]:hover, html.can_embed-html body#can_fundraising_widget #can_embed_form #donate_make_recurring_modal .button:hover, html.can_embed-html body#can_fundraising_widget #can_embed_form input[type=submit]:hover, html.can_embed-html body#can_fundraising_widget #can_embed_form .button:hover {
      background: #ff4b3e;
      color: #f9f9f9;
      border-color: #f9f9f9; }
  /* line 81, /Users/janamills/Documents/GitHub/ActionNetwork/foundation/_embed.scss */
  html.can_embed-html body#can_fundraising_widget #can_embed_form #d_sharing, html.can_embed-html body#can_fundraising_widget #can_embed_form #donate_disclaimer {
    border: none; }
  /* line 82, /Users/janamills/Documents/GitHub/ActionNetwork/foundation/_embed.scss */
  html.can_embed-html body#can_fundraising_widget #can_embed_form #can_thank_you {
    background: #000114; }
    /* line 84, /Users/janamills/Documents/GitHub/ActionNetwork/foundation/_embed.scss */
    html.can_embed-html body#can_fundraising_widget #can_embed_form #can_thank_you h3.entry-title {
      border-color: #f6f930; }
    /* line 87, /Users/janamills/Documents/GitHub/ActionNetwork/foundation/_embed.scss */
    html.can_embed-html body#can_fundraising_widget #can_embed_form #can_thank_you h4::after {
      display: none; }

/*# sourceMappingURL=embed-style.css.map */